@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@plugin "tailwindcss-animate";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  /* Base layers */
  --background: rgba(248, 250, 252, 1);
  /* Light Grayish Blue */
  --foreground: rgba(24, 33, 54, 1);
  /* Deep Steel */

  --card: rgba(255, 255, 255, 1);
  --card-foreground: rgba(24, 33, 54, 1);

  --popover: rgba(255, 255, 255, 1);
  --popover-foreground: rgba(24, 33, 54, 1);

  /* Primary actions */
  --primary: rgba(37, 99, 235, 1);
  /* Tailwind Blue-600 */
  --primary-foreground: rgba(255, 255, 255, 1);

  /* Secondary / Muted */
  --secondary: rgba(229, 240, 255, 1);
  /* Very Light Blue */
  --secondary-foreground: rgba(37, 99, 235, 1);

  --muted: rgba(241, 245, 249, 1);
  /* Slate-100 */
  --muted-foreground: rgba(100, 116, 139, 1);
  /* Slate-500 */

  /* Accent */
  --accent: rgba(56, 189, 248, 1);
  /* Sky-400 */
  --accent-foreground: rgba(255, 255, 255, 1);

  /* Destructive / Danger */
  --destructive: rgba(239, 68, 68, 1);
  /* Red-500 */
  --destructive-foreground: rgba(239, 68, 68, 1);

  /* Input and Border */
  --input: rgba(226, 232, 240, 1);
  /* Gray-200 */
  --border: rgba(203, 213, 225, 1);
  /* Gray-300 */
  --ring: rgba(147, 197, 253, 1);
  /* Blue-300 */

  /* Charts */
  --chart-1: rgba(37, 99, 235, 1);
  --chart-2: rgba(56, 189, 248, 1);
  --chart-3: rgba(34, 197, 94, 1);
  /* Green-500 */
  --chart-4: rgba(250, 204, 21, 1);
  /* Yellow-400 */
  --chart-5: rgba(244, 114, 182, 1);
  /* Pink-400 */

  /* Sidebar */
  --sidebar: rgba(255, 255, 255, 1);
  --sidebar-foreground: rgba(24, 33, 54, 1);
  --sidebar-primary: rgba(37, 99, 235, 1);
  --sidebar-primary-foreground: rgba(255, 255, 255, 1);
  --sidebar-accent: rgba(56, 189, 248, 1);
  --sidebar-accent-foreground: rgba(255, 255, 255, 1);
  --sidebar-border: rgba(203, 213, 225, 1);
  --sidebar-ring: rgba(147, 197, 253, 1);

  --radius: 0.5rem;
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.embla {
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 0rem;
  --slide-size: 100%;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.appContainer {
  @apply max-w-[1100px] mx-auto
}